<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <!--

TemplateMo 552 Video Catalog

https://templatemo.com/tm-552-video-catalog

-->
  <body>
    <div class="tm-page-wrap mx-auto">
      <div class="position-relative">
        <div class="potition-absolute tm-site-header">
          <div class="container-fluid position-relative">
            <div class="row">
              <div class="col-7 col-md-4">
                <a href="/" class="tm-bg-black text-center tm-logo-container">
                  <i class="fas fa-video tm-site-logo mb-3"></i>
                  <h1 class="tm-site-name">Video Catalog</h1>
                </a>
              </div>
              <div class="col-5 col-md-8 ml-auto mr-0">
                <%- include('partials/_navigation.ejs') %>
              </div>
            </div>
          </div>
        </div>
        <div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
          <div class="text-center">
            <p
              class="
                pt-5
                px-3
                tm-welcome-text tm-welcome-text-2
                mb-1
                mt-lg-0 mt-5
                text-white
                mx-auto
              "
            >
              Talk to Us<br />about any question you have
            </p>
          </div>
        </div>

        <div id="tm-fixed-header-bg"></div>
        <!-- Header image -->
      </div>

      <!-- Page content -->
      <main>
        <div class="container-fluid px-0">
          <div class="mx-auto tm-content-container">
            <div class="row mt-3 pb-3">
              <div class="col-12">
                <div class="mx-auto tm-about-text-container px-3">
                  <h2 class="tm-page-title mb-4 tm-text-primary">
                    Edit the photo
                  </h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vitae aliquid asperiores maiores doloribus, ipsam,
                    consequatur dolores quia enim minus dolorem, cupiditate
                    aliquam harum perspiciatis! Iste architecto voluptate vel
                    quae voluptatum?
                  </p>
                </div>
              </div>
            </div>
            <div class="mx-auto pb-3 tm-about-text-container">
              <div class="row">
                <div class="col-lg-12 mb-5">
                  <form
                    encType="multipart/form-data"
                    id="contact-form"
                    action="/photos/edit/<%= photo._id %>?_method=PUT"
                    method="POST"
                    class="tm-contact-form"
                  >
                    <div class="form-group">
                      <input
                        type="text"
                        name="title"
                        class="form-control rounded-0"
                        value="<%= photo.title %>"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <textarea
                        rows="8"
                        name="description"
                        class="form-control rounded-0"
                        required
                      >
<%= photo.description %>
                      </textarea>
                    </div>

                    <div class="form-group mb-0">
                      <button
                        type="submit"
                        class="
                          btn btn-primary
                          rounded-0
                          d-block
                          ml-auto
                          mr-0
                          tm-btn-animate tm-btn-submit tm-icon-submit
                        "
                      >
                        <span>Save Changes</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div class="container-fluid tm-content-container mx-auto pt-4">
        <!-- Subscribe form and footer links -->
        <div class="row pt-3">
          <div class="col-xl-6 col-lg-12 mb-4">
            <div class="tm-bg-gray p-5 h-100">
              <h3 class="tm-text-primary mb-3">
                Do you want to get our latest updates?
              </h3>
              <p class="mb-5">
                Please subscribe our newsletter for upcoming new videos and
                latest information about our work. Thank you.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
            <div class="p-5 tm-bg-gray">
              <h3 class="tm-text-primary mb-4">Quick Links</h3>
              <ul class="list-unstyled tm-footer-links">
                <li><a href="#">Duis bibendum</a></li>
                <li><a href="#">Purus non dignissim</a></li>
                <li><a href="#">Sapien metus gravida</a></li>
                <li><a href="#">Eget consequat</a></li>
                <li><a href="#">Praesent eu pulvinar</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
            <div class="p-5 tm-bg-gray h-100">
              <h3 class="tm-text-primary mb-4">Our Pages</h3>
              <ul class="list-unstyled tm-footer-links">
                <li><a href="#">Our Videos</a></li>
                <li><a href="#">License Terms</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policies</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- row -->

        <footer class="row pt-5">
          <div class="col-12">
            <p class="text-right">
              Copyright 2020 The Video Catalog Company - Designed by
              <a href="https://templatemo.com" rel="nofollow" target="_parent"
                >TemplateMo</a
              >
            </p>
          </div>
        </footer>
      </div>
    </div>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.min.js"></script>
  </body>
</html>
